body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  --bg-color: #fff;
  --text-color: #222;

  --search-bg-color: #fff;
  --card-bg-color: #e6e6e6;
}

body.dark {
  --bg-color: #222;
  --text-color: #e6e6e6;

  --search-bg-color: grey;
  --card-bg-color: grey;
}

body.dark input::placeholder {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
